/* https://www.youtube.com/watch?v=CDldkBcrGkA&t=303s&ab_channel=OnlineTutorials */
/* Change mode */
input[type="checkbox"]#mode
{
    position: relative;
    width: 60px;
    height: 20px;
    margin: 10px;
    outline: none;
    background: #111;
    -webkit-appearance: none;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: -5px -5px 20px rgba(255, 255, 255, 0.1),
                5px 5px 10px rgba(0, 0, 0, 1),
                inset -2px -2px 5px rgba(255, 255, 255, 0.1),
                inset 2px 2px 5px rgba(0, 0, 0, 0.5),
                0 0 0 2px #1f1f1f;
    transition: 0.5s;
}

input[type="checkbox"]#mode:checked
{
    background: goldenrod;

}

input[type="checkbox"]#mode::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 20px;
    background: linear-gradient(to top, #000, #555);
    border-radius: 20px;
    box-shadow: 0 0 0 1px #232323;
    transform: scale(0.98, 0.96);
    transition: 0.5s;
}

input[type="checkbox"]#mode:checked::before
{
    left: 20px;
}

input[type="checkbox"]#mode::after
{
    content: '';
    position: absolute;
    left: 35px;
    top: calc(50% - 2px);
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: #555;
    transition: 0.5s;
}

input[type="checkbox"]#mode:checked::after
{
    left: calc(35px + 20px);
    background: gold;
    box-shadow: 0 0 5px gold,
                0 0 15px gold,
                0 0 30px gold
}

header
{
    position: relative;
}

/* Modal window */
.modal {
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.closeBtn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeBtn:hover,
.closeBtn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

footer
{
    margin: 10px;
    position: relative;
    height: inherit;
    width: inherit;
}
